<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>update Book <%= books.id%> </h1>
    <form action="/update/<%= books.id %>" method="post">
        <input type="hidden" name="_method" value="PUT">
        <input type="text" name="title" value="<%= books.title %>">
        <input type="text" name="author" value="<%= books.author %>">
        <input type="text" name="genre" value="<%= books.genre %>">
        <button type="submit">update</button>
</body>
</html>